body{
font-family:'VT323';
color:lightblue;
background:black;
}

h2{
display:block;
font-size:20px;
}

textarea{
display:block;
width:80%;
height:25%;
border-radius:5px;
resize:none;
font-family:'VT323';
font-size:20px;
padding:5px;
background:black;
color:lightblue;
border-color:gray;
}

#panel div:hover{
background-color:darkblue;
color:white;
}

a{
color:darkviolet;
font-weight:bold;
}

#cssedit{
display:none;
}

#htmledit{
display:none;
}

#psCode{
height:80%;
}

#result{
width:100%;
height:80%;
/*padding:20px;*/
float:left;
}

iframe{
frameborder:0px;
width:100%;
height:100%;
border:none;
border-radius:3px;
margin-bottom:20px;
background:white;
}


#codeBtn{
color:black;
background:lightblue;
position:fixed;
top:70px;
padding:20px;
border-radius:40px;
}

#back{
color:black;
border-radius:200px;
background:lightblue;
position:fixed;
top:150px;
padding:20px;
z-index:200;
}

#runbutton{
color:black;
border-radius:200px;
background:lightblue;
position:fixed;
top:230px;
padding:20px;
z-index:200;
}

#documentationBtn{
color:black;
background:lightblue;
position:fixed;
top:300px;
padding:20px;
border-radius:200px;
}

#editables{
display:none;
padding:20px;
width:70%;
border-radius:3px;
/*float:left;*/
height:80%;
/*display:inline-block;*/
position:fixed;
left:20%;
margin-right:5px;
/*background:blue;*/
}

footer{
position:absolute;
top:50px;
}